/* src/App.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/background.avif') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.auth-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('./assets/background.avif') no-repeat center center fixed;
  background-size: cover;
}

.auth-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.switch-link {
  color: #007BFF;
  cursor: pointer;
  text-decoration: underline;
}

.switch-link:hover {
  color: #0056b3;
}

@media (max-width: 600px) {
  .auth-container {
    padding: 10px;
    margin: 10px;
    width: 900%;
  }

  .auth-container h2 {
    font-size: 1.5em;
  }

  .auth-container input {
    padding: 2px;
  }

  .auth-container button {
    padding: 8px;
  }
}


/* src/Home.css */
.home-container {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
  .home-container {
    padding: 10px;
  }
}
